body {
	background-color: white;
}

h1 {
	color: black;
	text-align: center;
	font-family: Georgia, serif;
}

h2 {
	color: black;
	text-align: center;
	font-family: Georgia, serif;
}

h3 {
	color: black;
	text-align: center;
	font-family: Georgia, serif;
}

p {
	color: black;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

img.center {
	display: block;
	margin: 0 auto;
}
