body {
	background-color: white;
}

h1 {
	color: black;
	text-align: center;
	font-family: Georgia, serif;
}

h2 {
	color: black;
	text-align: center;
	font-family: Georgia, serif;
}

h3 {
	color: black;
	text-align: center;
	font-family: Georgia, serif;
}

p {
	color: black;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

img {
	max-width: 100%;
	max-height: auto;
}
